{
  "openapi": "3.0.1",
  "info": {
    "title": "INSTRUMERS API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.instrumer.com"
    }
  ],
  "security": [
    {
      "JWT": []
    }
  ],
  "paths": {
    "/api/vendor": {
      "get": {
        "tags": ["벤더 기업"],
        "summary": "벤더 기업 정보 조회",
        "operationId": "get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetVendorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["벤더 기업"],
        "summary": "벤더 기업 회원 정보 수정",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVendorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/vendor/solutions": {
      "put": {
        "tags": ["솔루션 API (Vendor)"],
        "summary": "솔루션 수정",
        "operationId": "updateSolution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSolutionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateSolutionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["솔루션 API (Vendor)"],
        "summary": "솔루션 생성",
        "operationId": "createSolution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSolutionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateSolutionResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["솔루션 API (Vendor)"],
        "summary": "솔루션 삭제",
        "operationId": "deleteSolution",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/consumer": {
      "get": {
        "tags": ["수요 기업"],
        "summary": "수요 고객 정보 조회",
        "operationId": "get_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetConsumerResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["수요 기업"],
        "summary": "수요 고객 정보 수정",
        "operationId": "update_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/send-email": {
      "post": {
        "tags": ["회원"],
        "summary": "이메일 전송 (유효시간 5분)",
        "operationId": "sendEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/reissue-token": {
      "post": {
        "tags": ["회원"],
        "summary": "토큰 재발급",
        "operationId": "reissueToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReissueTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseReIssueTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/register/vendor": {
      "post": {
        "tags": ["회원"],
        "summary": "벤더 기업 회원가입",
        "operationId": "registerVendor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterVendorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/register/consumer": {
      "post": {
        "tags": ["회원"],
        "summary": "수요 고객 회원가입",
        "operationId": "registerConsumer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterConsumerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/presigned-url": {
      "post": {
        "tags": ["공통 API"],
        "summary": "업로드용 S3 Presigned URL 생성",
        "operationId": "presignedURL",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresignedURLRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponsePresignedURLResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/login": {
      "post": {
        "tags": ["회원"],
        "summary": "회원 로그인",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseLoginUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/auth-code": {
      "post": {
        "tags": ["회원"],
        "summary": "이메일 인증 번호 확인",
        "operationId": "verifyAuthKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailAuthKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/consumer/solutions/{solutionSeq}/reviews": {
      "post": {
        "tags": ["솔루션 리뷰 API (Consumer)"],
        "summary": "솔루션 리뷰 작성",
        "operationId": "createReview",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSolutionReviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateSolutionReviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/solutions/{solutionSeq}": {
      "get": {
        "tags": ["솔루션 API (Public)"],
        "summary": "솔루션 상세 조회",
        "operationId": "getSolution",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetSolutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/solutions/{solutionSeq}/reviews": {
      "get": {
        "tags": ["솔루션 API (Public)"],
        "summary": "솔루션 리뷰 목록 조회 (페이징)",
        "operationId": "getReviews",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetSolutionReviewPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/solutions/list": {
      "get": {
        "tags": ["솔루션 API (Public)"],
        "summary": "솔루션 리스트 조회",
        "operationId": "getSolutionList",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetSolutionListResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateVendorRequest": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "bank": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          }
        }
      },
      "BaseResponseString": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "UpdateSolutionImageRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "UpdateSolutionPlanDetailRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "UpdateSolutionPlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subName": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "planType": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateSolutionPlanDetailRequest"
            }
          }
        }
      },
      "UpdateSolutionRequest": {
        "required": ["category", "explanation", "name", "price", "solutionSeq"],
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateSolutionImageRequest"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateSolutionPlanRequest"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BaseResponseCreateSolutionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CreateSolutionResponse"
          }
        }
      },
      "CreateSolutionResponse": {
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UpdateConsumerRequest": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          }
        }
      },
      "CreateSolutionImageRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "CreateSolutionPlanDetailRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "CreateSolutionPlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subName": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "planType": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSolutionPlanDetailRequest"
            }
          }
        }
      },
      "CreateSolutionRequest": {
        "required": ["category", "explanation", "name", "price"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSolutionImageRequest"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSolutionPlanRequest"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SendEmailRequest": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "BaseResponseMapStringString": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ReissueTokenRequest": {
        "required": ["refreshToken"],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "BaseResponseReIssueTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ReIssueTokenResponse"
          }
        }
      },
      "ReIssueTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "RegisterVendorRequest": {
        "required": ["businessImageUrl", "businessName", "email", "managerName", "password", "phone"],
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "managerName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "businessImageUrl": {
            "type": "string"
          }
        }
      },
      "RegisterConsumerRequest": {
        "required": ["businessName", "email", "managerName", "password", "phone"],
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "managerName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "PresignedURLRequest": {
        "required": ["expiration", "fileName"],
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "expiration": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BaseResponsePresignedURLResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PresignedURLResponse"
          }
        }
      },
      "PresignedURLResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "LoginUserRequest": {
        "required": ["email", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "BaseResponseLoginUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/LoginUserResponse"
          }
        }
      },
      "LoginUserResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "VerifyEmailAuthKeyRequest": {
        "required": ["authCode", "email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "authCode": {
            "type": "string"
          }
        }
      },
      "CreateSolutionReviewRequest": {
        "required": ["context", "rate", "solutionSeq"],
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "context": {
            "type": "string"
          },
          "rate": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "BaseResponseCreateSolutionReviewResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CreateSolutionReviewResponse"
          }
        }
      },
      "CreateSolutionReviewResponse": {
        "type": "object",
        "properties": {
          "solutionReviewSeq": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BaseResponseGetVendorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetVendorResponse"
          }
        }
      },
      "GetVendorResponse": {
        "type": "object",
        "properties": {
          "userSeq": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "userType": {
            "type": "string",
            "enum": ["VENDOR", "CONSUMER"]
          },
          "profileImageUrl": {
            "type": "string"
          },
          "businessName": {
            "type": "string"
          },
          "managerName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bank": {
            "type": "string"
          },
          "account": {
            "type": "string"
          }
        }
      },
      "BaseResponseGetSolutionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetSolutionResponse"
          }
        }
      },
      "GetSolutionImageRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "GetSolutionPlanDetailRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "GetSolutionPlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subName": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "planType": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionPlanDetailRequest"
            }
          }
        }
      },
      "GetSolutionResponse": {
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionImageRequest"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionPlanRequest"
            }
          },
          "reviewCnt": {
            "type": "integer",
            "format": "int64"
          },
          "reviewAverage": {
            "type": "number",
            "format": "double"
          },
          "vendorSeq": {
            "type": "integer",
            "format": "int64"
          },
          "vendorBusinessName": {
            "type": "string"
          }
        }
      },
      "BaseResponseGetSolutionReviewPageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetSolutionReviewPageResponse"
          }
        }
      },
      "GetSolutionReviewPageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionReviewResponse"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "GetSolutionReviewResponse": {
        "type": "object",
        "properties": {
          "solutionReviewSeq": {
            "type": "integer",
            "format": "int64"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "businessName": {
            "type": "string"
          },
          "rate": {
            "type": "number",
            "format": "double"
          },
          "context": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "BaseResponseGetSolutionListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetSolutionListResponse"
          }
        }
      },
      "GetSolutionList": {
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "cnt": {
            "type": "integer",
            "format": "int64"
          },
          "average": {
            "type": "number",
            "format": "double"
          },
          "businessName": {
            "type": "string"
          }
        }
      },
      "GetSolutionListResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionList"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "BaseResponseGetConsumerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetConsumerResponse"
          }
        }
      },
      "GetConsumerResponse": {
        "type": "object",
        "properties": {
          "userSeq": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "userType": {
            "type": "string",
            "enum": ["VENDOR", "CONSUMER"]
          },
          "profileImageUrl": {
            "type": "string"
          },
          "businessName": {
            "type": "string"
          },
          "managerName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
